+---------------------------------------------------------------------------+
|                                                                           |
|       ██╗    ██╗███████╗██╗      ██████╗ ██████╗ ███╗   ███╗███████╗      |
|       ██║    ██║██╔════╝██║     ██╔════╝██╔═══██╗████╗ ████║██╔════╝      |
|       ██║ █╗ ██║█████╗  ██║     ██║     ██║   ██║██╔████╔██║█████╗        |
|       ██║███╗██║██╔══╝  ██║     ██║     ██║   ██║██║╚██╔╝██║██╔══╝        |
|       ╚███╔███╔╝███████╗███████╗╚██████╗╚██████╔╝██║ ╚═╝ ██║███████╗      |
|        ╚══╝╚══╝ ╚══════╝╚══════╝ ╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝      |
|                                                                           |
|                Unauthorized users are not welcome here.                   |
|                                                                           |
|      Trespassing upon these digital lands without the proper credentials  |
|          will see you met with swift justice. Turn back now and           |
|         seek another quest if you are not a true hero with the            |
|                           correct permissions.                            |
|                                                                           |
|                          Safe travels, adventurer.                        |
|                                                                           |
+---------------------------------------------------------------------------+

> Connecting to {{ ansible_hostname }}...
